version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "daily"
    assignees:
      - "aatrubilin"
    reviewers:
      - "aatrubilin"
    groups:
      python-dependencies:
        patterns:
          - "*"
    versioning-strategy: widen

  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "daily"
    assignees:
      - "aatrubilin"
    reviewers:
      - "aatrubilin"
    groups:
      docker-dependencies:
        patterns:
          - "*"
    versioning-strategy: widen

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    assignees:
      - "aatrubilin"
    reviewers:
      - "aatrubilin"
    groups:
      github-actions-dependencies:
        patterns:
          - "*"
    versioning-strategy: widen
