services:
  ollama:
    image: ollama/ollama
    volumes:
      - ./data/ollama:/root/.ollama
    networks:
      - mduck-net

  download-model:
    image: ollama/ollama
    volumes:
      - ./data/ollama:/root/.ollama
    environment:
      - OLLAMA_HOST=http://ollama:11434
    command: "pull i82blikeu/gemma-3n-E4B-it-GGUF:Q3_K_M"
    depends_on:
      - ollama
    networks:
      - mduck-net

  mduck:
    image: ghcr.io/aatrubilin/mduck:latest
    ports:
      - "8000:8000"
    env_file:
      - .env
    networks:
      - mduck-net
    depends_on:
      - download-model

networks:
  mduck-net:
